* {
  margin: 0;
  padding: 0;
}
/*
h1{
  height: 1px;
  background-color: black;
  margin-top: 300px;
  width: 512px;
}
*/

.container{
 width:500px;
 border: 1px solid black;
 height:500px;
 display: grid;
 text-align: center;
}

.grid{
  border: 1px solid black ;
}