.grid{
   background-color:white;
   border: 1px solid red;
   
    
}
body{
  
}
.Agrid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(auto,1fr);
  border: 2px solid black;
}

.grid:hover{
  background-color: black;
  
}
